<div class="navbar navbar-fixed-top"
	<div class"navbar-inner">
		<div class="container">
			<a class="brand" href="#">Easy Meetings</a>
			<div clas=-"nav-collapse">
				<ul class="nav">
					<li><%=